$color1: #1C1D21;
$color2: #31353D;
$color3: #445878;
$color4: #92CDCF;
$color5: #EEEFF7;

/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin grid-colums($count, $gap:3) {
	-webkit-column-count: $count;
	   -moz-column-count: $count;
			column-count: $count;
	-webkit-column-gap: $gap px;
	   -moz-column-gap: $gap px;
			column-gap: $gap px;
}
@mixin colum-breack() {
	-webkit-column-break-inside: avoid;
	          page-break-inside: avoid;
	               break-inside: avoid;
}
@mixin transition($speed:0.5s) {
	-webkit-transition: all $speed ease;
	   -moz-transition: all $speed ease;
	     -o-transition: all $speed ease;
}
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/
html, body {
	height: 100%;
}
a { color: $color3; }
a:hover { text-decoration: none; }
.ttable {
	display: table;
	width: 100%;
	height: 100%;
}
.theader {
	display: table-row;
	height: 40px;
}
.ttable .ttd {
	display: table-cell;
	vertical-align:top;
}
.ttable .sidebar {
	background-color: $color2;
	
	@media (max-width: $screen-xs-max) {
		display: none;
	}
	@media (min-width: $screen-sm-min) {
		width: 70px;
	}
	@media (min-width: $screen-md-min) {
		width: 200px;
	}
}
.ttable .content {
	background-color: $color5;
}
.paddcontent {
	display: block;
	padding: 15px;
}
/*menu prin*/
.sidebar ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar ul li a {
	display:block;
	padding: 7px 10px;
	color: $color4;
	background-color: $color2;
	border-bottom: 1px dashed $color1;
	@include transition();
}
.sidebar ul li a:hover {
	color: $color2;
	background-color: $color5;
}